body {
  color: #eee;
  font-family: "Cooper Black", Georgia, Times, "Times New Roman", serif;
  margin: 0;
}
ul#scene {
  margin: 0;
  padding: 0;
}
ul#scene li {
  padding: 0;
}
.layer {
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  text-align: center;
}

.layer.one {background-image: url(../img/layers/background.png);}
.layer.two {background-image: url(../img/layers/layer-1a.png);}
.layer.three {background-image: url(../img/layers/layer-2a.png);}
.layer.four {background-image: url(../img/layers/layer-3a.png);}
.layer.five {background-image: url(../img/layers/layer-4a.png);}
#answer.layer {
  color: #990000;
  display: block;
  font-size: 10em;
  font-weight: bold;
}
.yes #answer {
  color: #006600;
}